* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    background-color: #191919;
    position: absolute;
 
}

.paginaLogin {
    width: 100vw;
    height: 100vh;
    background-image: url('../img//Login.background.jpg');
    clip-path: polygon(63% 0, 100% 0%, 100% 100%, 11% 100%);

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.titulo {
    margin-left: 1050px;
    margin-bottom: -260px;
    margin-top: 200px;
}

.formLogin {
    margin-left: 900px;
    margin-top: 300px;
}

.input {
    border: none;
    width: 500px;
    padding: 10px;
    background: transparent;
    font-family: 'Open Sans';
    font-size: 2em;
    border-bottom: 1px solid white;
    color: white;
    outline: none
}

::-webkit-input-placeholder {
    color: white;
 }
 
 :-moz-placeholder { 
    color: white;  
 }
 
 ::-moz-placeholder { 
    color: white;  
 }
 
 :-ms-input-placeholder {  
    color: white;  
 }

.botao {
    margin-top: 50px;
    border: #DB0909;
    background-color: #DB0909;
    font-family: 'Open Sans';
    font-size: 2em;
    width: 520px;
    padding: 10px;
    color: white;
    opacity: 0.9;
}

.textLogin {
    font-family: 'Open Sans';
    font-size: 1.3em;
    margin-right: 175px;
    margin-top: 20px;
}

.giovanna {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 1.1em;
    margin-left: 165px;

}

.giovanna2 {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 1.1em;
}